<div>
  <table>
    <th>Title</th>
    <th>Content</th>
  <% @questions.each do |question| %>
    <td> <%= question.title %> </td>
    <td> <%= question.content %> </td>
  <% end %>
  </table>
</div>
