<div>
  <table>
    <th>Title</th>
    <th>Content</th>
    <th>View Question</th>
  <% @questions.each do |question| %>
    <%= render partial: 'question', locals: {:question => question} %>
  <% end %>
  </table>
  <h4> <%=@response.body %></h4>
</div>

<%= render 'new' %>
